$primary-font-color: #000;
$ext-bg-color: #efefef;
$int-bg-color: #ddd;
$int-font-color: #444;
$alt-bg-color: #008cd2;
$border-color: #ccc;

body {
	width: 96%;
	margin: 0;
	padding: 2%;
	color: #333;
	background-color: #ext-bg-color;
	font: 87.5%/1.4 HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	font-family: "Georgia","Times New Roman",serif;
	text-align: center;
	padding: 0.5em 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia","Times New Roman",serif;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 328.571%;
	margin-bottom: 0.2em;
}

h1.sitename {
	font-family: "Pacifico";
	text-align: center;
}
h2.subhead {
	font-family: "Teko";
	text-align: center;
}

h2 {
	font-size: 250%;
	margin-bottom: 0.2em;
}

h3 {
	font-size: 150%;
	margin-bottom: 0.2em;
}

p {
	margin:0;
	padding: 0 0 1em 0;
}

.wrapper {
	background-color: $int-bg-color;
	color: $int-font-color;
	margin: 0 auto;
}
.mainnav,.post,.sidebar {
	width: 100%;
	margin: 0 auto 1em auto;
}
.mainnav {
	margin: 0 auto;
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;
	width: 100%;
	text-align: center;

	ul {
		display: table;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 120%;
	}
	a {
		float: left;
		text-align: center;
		width: 14%;
		margin: 0 2%;
		padding: 1%;
	}
	a:link, a:visited {
		text-decoration: none;
		color: $int-font-color;
	}
}


.post .title, .post .content {
	width: 94%;
	padding: .4em 3% 0 3%;
	margin: 0;
}

.pullquote {
	position: relative;
	padding: 5%;
	width: 90%;
	font-size: 18px;
	line-height: 18px;
	color: #655c9d;
}
.pullquote::before {
	position: relative;
	content: attr(data-pullquote);
	color: $alt-bg-color;
	font: 150%/1.4 "Georgia","Times New Roman",serif;
	font-size: 25px;
	font-size: 1.5625rem;
	line-height: 30px;
	line-height: 1.875rem;
	z-index:2;
}

.pullquote::after {
	position: absolute;
	content: "";
	width: 100px;
	height: 4px;
	top: 0;
	left: 50%;
	background: $alt-bg-color;
	transform: translate(-50%,0);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer > * {
	padding: 1%;
}

@media only screen and (min-width: 460px) {
	.wrapper {
		display: grid;
		grid-template-columns: auto ;
		grid-template-rows: auto ;
	}

	.mainnav {
		grid-row: 1;
		grid-column: 1;
	}

	.post {
		grid-row: 2;
		grid-column: 1;
	}

	.sidebar {
		grid-row: 3;
		grid-column: 1;
	}

	.pullquote {padding: .5em 2em;width: 350px; margin:0 auto;}
}

@media only screen and (min-width: 700px) {
	.wrapper {
		grid-template-columns: 20% 5% auto ;
		grid-template-rows: auto ;
	}

	.mainnav {
		grid-row: 1;
		grid-column: 1 / span 3;
	}

	.post {
		grid-row: 2;
		grid-column: 3;
	}

	.sidebar {
		grid-row: 2 / 3;
		grid-column: 1;
	}
}

@media only screen and (min-width: 980px) {
	.wrapper {
		grid-template-columns: 200px 40px auto;
		grid-template-rows: auto ;
		max-width: 1140px;
	}

	.pullquote {
		float: right;
		width: 350px;
	}
}